<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gursimar Singh" />
    <meta name="description" content="Images Component" />

    <link rel="stylesheet" href="./images.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Images</title>
</head>

<body>
    <section id="image">
        <h2>Images</h2>
        <p>Images are widely used in a website to display the products, set a prfile image. Images usually take the
            dimensions of the parent and are responsive.</p>
        <div class="image-example">
            <img class="img-component round-img" src="https://i.pravatar.cc/400" alt="round-image">
            <img class="img-component square-img" src="https://i.pravatar.cc/400" alt="square-img">
            <img class="img-component round-border-img" src="https://i.pravatar.cc/400" alt="round-border-img">
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28211%2C211%2C211%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253Cimg%2520class%253D%2522round-img%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F400%2522%2520alt%253D%2522round-image%2522%253E%250A%253Cimg%2520class%253D%2522square-img%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F400%2522%2520alt%253D%2522square-img%2522%253E%250A%253Cimg%2520class%253D%2522round-border-img%2522%2520src%253D%2522https%253A%252F%252Fi.pravatar.cc%252F400%2522%2520alt%253D%2522round-border-img%2522%253E"
                style="width: 100%; height: 226px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </section>
</body>

</html>