@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --primary-color: #1d4ed8;
    --secondary-color: #93c5fd;
    --sidebar-color: #f3f4f6;
    --bg-success: #22c55e;
    --bg-warning: #ffc107;
    --bg-inactive: #6c757d;
}