<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gursimar Singh" />
    <meta name="description" content="List Component" />

    <link rel="stylesheet" href="./list.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>List</title>
</head>

<body>
    <section id="list">
        <h2>List</h2>
        <p>List is used to listing down the information.</p>
        <div class="list-example">
            <!-- Normal List -->
            <ul class="normal-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
            <!-- List without bullet -->
            <ul class="no-style-list">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28211%2C211%2C211%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253C%21--%2520Normal%2520List%2520--%253E%250A%253Cul%2520class%253D%2522normal-list%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E%250A%250A%253C%21--%2520List%2520without%2520bullet%2520--%253E%250A%253Cul%2520class%253D%2522no-style-list%2522%253E%250A%2520%2520%253Cli%253EItem%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EItem%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
                style="width: 100%; height: 449px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <p>Stacked List</p>
        <div class="list-example">
            <ul class="stacked-list">
                <li>I am Item 1</li>
                <li>I am Item 2</li>
                <li>I am Item 3</li>
                <li>I am Item 4</li>
            </ul>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28211%2C211%2C211%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%253C%21--%2520Stacked%2520List%2520--%253E%250A%253Cul%2520class%253D%2522stacked-list%2522%253E%250A%2520%2520%253Cli%253EI%2520am%2520Item%25201%253C%252Fli%253E%250A%2520%2520%253Cli%253EI%2520am%2520Item%25202%253C%252Fli%253E%250A%2520%2520%253Cli%253EI%2520am%2520Item%25203%253C%252Fli%253E%250A%2520%2520%253Cli%253EI%2520am%2520Item%25204%253C%252Fli%253E%250A%253C%252Ful%253E"
                style="width: 100%; height: 300px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </section>
</body>

</html>