<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gursimar Singh" />
    <meta name="description" content="Navigation Bar Component" />

    <link rel="stylesheet" href="./nav.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Navigation</title>
</head>

<body>
    <section id="navigation">
        <h2>Navigation</h2>
        <p>Navigation bar is used to navigate/link the user to different pages of the website.</p>
        <div class="nav-example">
            <nav class="docs-navbar">
                <a class="brand" href="#">Brand</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cnav%2520class%253D%2522docs-navbar%2522%253E%250A%2520%2520%253Ca%2520class%253D%2522brand%2522%2520href%253D%2522%2523%2522%253EBrand%253C%252Fa%253E%250A%2520%2520%253Cul%253E%250A%2520%2520%2520%2520%253Cli%253E%253Ca%2520href%253D%2522%2523%2522%253EHome%253C%252Fa%253E%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253E%253Ca%2520href%253D%2522%2523%2522%253EProduct%253C%252Fa%253E%253C%252Fli%253E%250A%2520%2520%2520%2520%253Cli%253E%253Ca%2520href%253D%2522%2523%2522%253ELogin%253C%252Fa%253E%253C%252Fli%253E%250A%2520%2520%253C%252Ful%253E%250A%253C%252Fnav%253E"
                style="width: 100%; height: 318px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </section>
</body>

</html>