<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Gursimar Singh" />
    <meta name="description" content="Text Utilities Component" />

    <link rel="stylesheet" href="./text_utilities.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>Text Utilities</title>
</head>

<body>
    <section id="text-utilities">
        <h2 class="p-1">Text Utilities</h2>
        <p>Text Utilities for your next project</p>
        <p>Heading</p>
        <div class="utilities-example">
            <h1>H1 text</h1>
            <h2>H2 text</h2>
            <h3>H3 text</h3>
            <h4>H4 text</h4>
            <h5>H5 text</h5>
            <h6>H6 text</h6>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28211%2C211%2C211%2C1%29&t=seti&wt=none&l=htmlmixed&width=397.5&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=4x&wm=false&code=%2520%2509%253Ch1%253EH1%2520text%253C%252Fh1%253E%250A%2520%2509%253Ch2%253EH2%2520text%253C%252Fh2%253E%250A%2520%2509%253Ch3%253EH3%2520text%253C%252Fh3%253E%250A%2520%2509%253Ch4%253EH4%2520text%253C%252Fh4%253E%250A%2509%253Ch5%253EH5%2520text%253C%252Fh5%253E%250A%2509%253Ch6%253EH6%2520text%253C%252Fh6%253E"
                style="width: 100%; height: 282px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <p>Font Weight</p>
        <div class="utilities-example">
            <p class="bold">I am bold</p>
            <p class="semi-bold">I am semi bold</p>
            <p class="regular">I am regular</p>
        </div>
        <div class="hidden">
            I am hidden
        </div>
        <div class="snippet">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%28211%2C211%2C211%2C1%29&t=seti&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522bold%2522%253EI%2520am%2520bold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522semi-bold%2522%253EI%2520am%2520semi%2520bold%253C%252Fp%253E%250A%253Cp%2520class%253D%2522regular%2522%253EI%2520am%2520regular%253C%252Fp%253E"
                style="width: 100%; height: 241px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </section>
</body>

</html>