#alert{
    padding: 3rem;
}

#alert p{
    padding: 1rem 0;
}

.alert-content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--lightgrey);
    padding: 1.5rem;
    box-shadow: 3px 3px 3px 3px var(--lightgrey);
}

.alert-text{
    margin: 1rem;
}

.alert-box{
    padding: 1rem;
    margin: 1rem;
    font-size: 3rem;
    font-weight: bold;
    width: 50%;
    border-radius: 1rem;
    opacity: 0.8;
}

.success-alert{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-success);
}

.warning-alert{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-warning);
}

.error-alert{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-danger);
}

.info-alert{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-info);
}