.navbar{
    border-bottom-left-radius: 0;
}

/* Docs Grid */
.docs-container{
    display: grid;
    grid-template-columns: 150px 3fr;
    grid-template-areas: "navbar navbar"
    "sidebar main"
    "sidebar main"
    "footer footer";
}

/* Sidebar section */
.sidebar{
    grid-area: sidebar;
    background-color: var(--sidebar-color);
    overflow: auto;
}

.sidebar ul{
    margin-left: 3rem;
    padding: 1rem 0;
    border-right: 2px solid var(--secondary-color);
}

.sidebar ul li{
    padding: 1rem;
}

.sidebar ul li a{
    font-size: 1.6rem;
    padding: 0.5rem 0;
    color: black;
    font-weight: 500;
}

.sidebar ul li a:hover{
    color: var(--primary-color);
    background-clip: text;
    -webkit-background-clip: text;
}

/* Main Section */
.main-content{
    grid-area: main;

}

